
h1{
    font-size: 80px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button.my-btn {
    font-size: 13.33px;
    padding: 30px 85px;
    border: 2px solid black;
    border-radius: 0;
    background-color: blue;
    color: white;
    transition: all 0.3s;
}
p{
    font-size: 35px;
}
button.my-btn:hover{
    background-color: green;
}